body {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  margin: 0;
  padding: 50px;
     }

.uvodniStrana {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  }

  .txt,
  .p {
    width: 360px
    }

.uvodni-obr {
  width: 360px;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
}
/*font-size: 16px;
  align-items: center;
  
  line-height: 1.5;
  max-width: 365px;
  margin: 65px auto;
.obrazek {
  display: flex;*/
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 44px;
  background-color: #283e50;
  padding: 30px 0px;
  margin: 0;
}

p {
  background-color: #283e50;
  padding: 10px 10px 20px 15px;
  margin: 0;
}

.butto {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.6;
  display: block ;
  width: 360px;
}

.btn1 {
  background-color: #1fcca4;
  padding: 12px 0 12px 0;
  }

.btn2 {
  background-color: #0197f6;
  padding: 12px 0 12px 0;
  border-top: 2px solid;
  border-color: #283e50;
}

.butto .btn1:hover,
.butto .btn1:focus,
.butto .btn1:active {
  background-color: #1cbb96;
}

.butto .btn2:hover,
.butto .btn2:focus,
.butto .btn2:active {
  background-color: #0090e9;
}

/* styl pro stránku pravidla*/

.kontejner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #283e50;
  border-radius: 8px 8px 0 0;
  font-family: sans-serif;
  color: #ffffff;
  margin: auto;
}

.povidani {
margin-top: 20px;
margin-bottom: 30px;
border-radius: 8px 8px 0 0;
}


.textKpravidlum {
  text-align: start;
  margin: 10px;
  padding: 20px;
}

.bod {
  padding: 5px;
  font-size: 20px;
}

.img {
width: 100%;
}

.kolecko {
  width: 1em;
  height: 1em;
  display: inline-block;
  filter: invert(100%);
}

.krizek {
  width: 1em;
  height: 1em;
  display: inline-block;
  filter: invert(100%);
}


.instrukcePravidla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 margin: 20px;
 width: auto;
}

figure.instructions {
 width: 100%;
}

*, :after, :before {
  box-sizing: border-box;
}

.instrukcePravidla figure img{
   display: flex;
  width: 100%;
}


figcaption {
  text-align: center;
  padding: 10px;
 }

.buttons {
  display: flex;
  text-align: center;
  font-weight: bold;  
  justify-content: center;
  text-decoration: none;
  width: 100%;
  color: #ffffff;
}

.btnUvod {
  background-color: #1fcca4;
  padding: 12px 0 12px 0;
  width: 100%;
}

.btnPra {
  background-color: #0197f6;
  padding: 12px 0 12px 0;
  border-top: 2px solid;
  border-color: #283e50;
  width: 100%;
}

.buttons .btnUvod:hover,
.buttons .btnUvod:focus,
.buttons .btnUvod:active {
  background-color: #1cbb96;
}

.buttons .btnPra:hover,
.buttons .btnPra:focus,
.buttons .btnPra:active {
  background-color: #0090e9;
}

@media screen and (min-width: 800px) {
  .kontejner,
  .rule,
  .povidani {
    width: 750px;
    }
  figure.instructions {
      margin: 15px;
      width: calc(50% - 30px);
    }
  
  .buttons {
    width: 100%;
  }

  .bodypravidla,
  .povidani {
       width: 750px;
  }
}

/*flex-basis: calc((100% - 20px) / 2);
flex-wrap: nth-child(2n+1);
width: calc(50% - 30px);*/


/*stranka hra - mřížka*/

.herniPlan {
  display: flex;
  flex-direction: column;
  align-items: center;
   min-height: 100vh;
   width: 100%;
}

.game {
  max-width: 80vmin;
  font-family:sans-serif;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  color: #ffffff;
  padding: 20px ;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  }

.nadpis {
  font-family:'Lobster', cursive;;
  min-width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.slovo {
  font-size: 40px;
  }

.kolo {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}


.motivy {
  padding: 1px;
  line-height:0;
}
.dum,
.znovu {
  display: flex;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.motiv_domecek,
.motiv_zpet {
  display: inline-block;
  border-radius: 5px;
  margin: 5px 0;
}
.zpet,
.domek {
  width:45px;
}

.motiv_domecek {
  background-color: #1fcca4 ;
}

.motivy .motiv_domecek:hover,
.motivy .motiv_domecek:focus,
.motivy .motiv_domecek:active {
  background-color: #1cbb96;
}

.motiv_zpet {
  background-color: #0197f6;
}

.motivy .motiv_zpet:hover,
.motivy .motiv_zpet:focus,
.motivy .motiv_zpet:active {
  background-color: #0090e9;
}

.mrizka {
  display: flex;
  flex-wrap: wrap;
  width: 70vmin;
  height: 70vmin;
  margin-top: 25px;
  box-shadow: 2px 2px 10px 1px rgb(0 0 0 /40%);
}

button {
  width: 10%;
  border: 1px solid rgb(50, 50,50);
  background-color: rgba(270, 270, 270, 0.3);
  padding: 0;
}


.mrizka button:hover,
.mrizka button:focus,
.mrizka button:active {
cursor:pointer;
background-color: rgba (200, 200, 200, 0.1);}
